body {background-color: #525252;
	margin: 0;
	padding: 0;
	color: white;			
}
div {border:solid 5px #094624;
	width: 680px;
	margin: 0 auto;
	padding: 40px;
}

h1{text-align: center;
	font-style: italic;
	font-size: 48px;}

h2 {color: #	4c4c4c;
	font-size: 40px;}

p {font-family: helvetica;
	font-weight: bold;
	color: #white; }

nav ul {
	padding: 0px;
	margin: 0 auto;
	width: 200px;
	overflow: hidden;
}
li {
	list-style: none;
	float: left;
	margin: 0 10px;

}
img {float: right;
	margin-left:30px;
	margin-bottom:20px;
	 }


footer ul {
	color: blue;
	padding: 0px;
	margin: 0 auto;
	width: 350px;
	overflow: hidden;
}

